In [1]:
import mysql.connector
from mysql import *
import re
import os
from sqlalchemy import create_engine, exc
import pandas as pd
from tqdm import tqdm

In [2]:
dbEngine = create_engine("mysql+pymysql://{user}:{pw}@localhost:{port}/{db}".format(user="root",pw="FF123",port = '3361', db="DailyFantasyQ"))

In [3]:
data =  pd.read_sql_query("SELECT  GameDate, MapID, PlayerName, PlayerID, TeamID, TeamName, MapName, Kills, Assists, Deaths, KAST, ADR, Rating, FirstKills FROM csgo_mapplayerstats;", dbEngine)

In [4]:
playerIDs = list(data.PlayerID.unique())
maps = list(data.MapName.unique())
print(maps, playerIDs[1:5])
print(data.iloc[0:0,])
data['Points'] = data['Kills']*1.5 - data['Deaths'] + data['Assists'] + data['FirstKills'] * 0.5
print(data['Points'])

['Cobblestone', 'Inferno', 'Cache', 'Mirage', 'Train', 'Overpass', 'Nuke', 'Dust2', 'Vertigo', 'All', 'Tuscan'] [3732, 4576, 8308, 9618]
Empty DataFrame
Columns: [GameDate, MapID, PlayerName, PlayerID, TeamID, TeamName, MapName, Kills, Assists, Deaths, KAST, ADR, Rating, FirstKills]
Index: []
0         8.0
1        14.5
2        27.0
3        19.0
4        32.0
         ...
52353    -6.0
52354    16.0
52355     2.0
52356    -6.5
52357     1.5
Name: Points, Length: 52358, dtype: float64

In [5]:
SMAData = pd.DataFrame(data.iloc[0:0,], columns = ['GameDate', 'MapID', 'PlayerName', 'PlayerID', 'TeamID' ,'TeamName', 'MapName', 'Kills', 'Assists', 'Deaths', 'KAST', 'FirstKills' ,'ADR', 'Rating', 'Points'])
for id in tqdm(playerIDs):
    for map in maps:
        tempDataSet = data[(data.PlayerID == id) & (data.MapName == map) ].sort_values(by=["MapID"], ascending = True)
        dfSMA = tempDataSet[['Kills', 'Assists', 'Deaths', 'KAST', 'ADR', 'Rating', 'FirstKills']].shift().rolling(5).mean().fillna(0)
        #dfSMA = tempDataSet.iloc[:,7:15].rolling(window=5).mean()
        tempDataSet["Kills"] = dfSMA["Kills"]
        tempDataSet["Deaths"] = dfSMA["Deaths"]
        tempDataSet["Assists"] = dfSMA["Assists"]
        tempDataSet["KAST"] = dfSMA["KAST"]
        tempDataSet["Rating"] = dfSMA["Rating"]
        tempDataSet['FirstKills'] = dfSMA["FirstKills"]
        SMAData = SMAData.append(tempDataSet)

100%|██████████████████████████████████████████████████████████████████████████████| 1459/1459 [05:31<00:00,  4.40it/s]

In [6]:
teamGroup = pd.DataFrame(data.groupby(by = ["MapID", "TeamName"]))

In [7]:
teamData = pd.read_sql_query("SELECT MapID, TeamID, TeamName, MapName, Avg(Kills) Kills, AVG(Assists) Assists, Avg(Deaths) Deaths , CAST(Avg(KAST) AS FLOAT) KAST, CAST(Avg(ADR) AS FLOAT) ADR  FROM csgo_mapplayerstats GROUP BY MapID, TeamID, TeamName, MapName;", dbEngine)

In [8]:
teamIDs = list(teamData.TeamID.unique())
SMATeamData = pd.DataFrame(data.iloc[0:0,], columns = ['MapID', 'TeamID', 'TeamName', 'MapName', 'Kills', 'Assists', 'Deaths', 'KAST', 'ADR'])
for id in tqdm(teamIDs):
    for map in maps:
        tempDataSet = teamData[(teamData.TeamID == id) & (teamData.MapName == map) ].sort_values(by=["MapID"], ascending = True)        
        dfSMA = tempDataSet[['Kills', 'Assists', 'Deaths', 'KAST', 'ADR']].shift().rolling(3).mean().fillna(0)
        #dfSMA = tempDataSet.iloc[:,3:11].rolling(window=5).mean()
        tempDataSet["Kills"] = dfSMA["Kills"]
        tempDataSet["Deaths"] = dfSMA["Deaths"]
        tempDataSet["Assists"] = dfSMA["Assists"]
        tempDataSet["KAST"] = dfSMA["KAST"]
        tempDataSet["ADR"] = dfSMA["ADR"]
        SMATeamData = SMATeamData.append(tempDataSet)

100%|████████████████████████████████████████████████████████████████████████████████| 318/318 [00:21<00:00, 14.81it/s]

In [9]:
SMADataKeys = list((SMAData.groupby(["MapID", "TeamName"]).groups).keys())

In [10]:
addedCols = ['Kills', 'Deaths', 'Assists', 'ADR']
SMACombinedData = pd.DataFrame(columns = ['GameDate', 'MapID', 'PlayerName', 'PlayerID', 'TeamName', 'MapName', 'Kills', 'Assists', 'Deaths', 'KAST', 'ADR', 'FirstKills', 'Points', 'TKills', 'TDeaths', 'TAssists', 'TADR', 'OKills', 
                                          'ODeaths', 'OAssists', 'OADR'])
for dataGroup in tqdm(SMADataKeys):
    # do nothing
    tempTeamData = SMATeamData[(SMATeamData.MapID == dataGroup[0]) & (SMATeamData.TeamName == dataGroup[1])]
    tempOppData = SMATeamData[(SMATeamData.MapID == dataGroup[0]) & (SMATeamData.TeamName != dataGroup[1])]    
    tempPlayerData = SMAData[(SMAData.MapID == dataGroup[0]) & (SMAData.TeamName == dataGroup[1])]
    
    
    if (len(tempTeamData) == 1):
        for cols in addedCols:
            colName = 'T' + cols
            tempPlayerData[colName] = tempTeamData.iloc[0][cols]
    
    if (len(tempOppData) == 1):
        for cols in addedCols:
            colName = 'O' + cols
            tempPlayerData[colName] = tempOppData.iloc[0][cols]
                
    SMACombinedData = SMACombinedData.append(tempPlayerData)

  0%|                                                                                        | 0/10470 [00:00<?, ?it/s]<ipython-input-10-fbfdc55d00d0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempPlayerData[colName] = tempTeamData.iloc[0][cols]
<ipython-input-10-fbfdc55d00d0>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempPlayerData[colName] = tempOppData.iloc[0][cols]
100%|████████████████████████████████████████████████████████████████████████████| 10470/10470 [06:55<00:00, 25.19it/s]

In [11]:
TrainingData = SMACombinedData.fillna(0)
Maps = ['Nuke','Dust2','Mirage','Inferno','Vertigo','Train','Overpass']
TrainingDataOriginal = SMACombinedData.fillna(0)

In [12]:
SMAData[(SMAData.MapID == 106513)]

,GameDate,MapID,PlayerName,PlayerID,TeamID,TeamName,MapName,Kills,Assists,Deaths,KAST,FirstKills,ADR,Rating,Points
52205,2020-07-30 15:00:00,106513,Adam9130,18219,9928,GamerLegion,Train,19.6,5.0,20.6,65.92,2.6,64.2,1.002,8.0
52206,2020-07-30 15:00:00,106513,mezii,18462,9928,GamerLegion,Train,22.6,5.4,19.2,74.28,2.6,60.4,1.184,2.5
52203,2020-07-30 15:00:00,106513,RuStY,10784,9928,GamerLegion,Train,20.4,5.8,22.2,68.18,2.8,78.5,1.016,18.0
52198,2020-07-30 15:00:00,106513,SIXER,147,4674,LDLC,Train,21.4,5.4,18.8,71.08,2.2,79.2,1.114,29.5
52200,2020-07-30 15:00:00,106513,bodyy,8374,4674,LDLC,Train,27.2,6.0,21.0,76.56,5.0,98.4,1.346,18.0
52201,2020-07-30 15:00:00,106513,Zero,8413,9928,GamerLegion,Train,22.2,5.2,20.4,72.50,3.0,68.0,1.090,7.0
52202,2020-07-30 15:00:00,106513,hAdji,9656,4674,LDLC,Train,27.2,4.0,21.4,69.10,3.8,73.2,1.200,20.5
52204,2020-07-30 15:00:00,106513,eraa,16487,9928,GamerLegion,Train,23.0,4.0,21.8,70.06,3.8,93.6,1.106,21.0
52199,2020-07-30 15:00:00,106513,Lambert,8047,4674,LDLC,Train,18.2,5.2,22.0,66.94,1.8,75.5,0.904,10.0
52207,2020-07-30 15:00:00,106513,afroo,19926,4674,LDLC,Train,18.2,5.6,23.2,62.76,3.0,67.0,0.890,7.5

In [13]:
#### Matchups
Matchups =  [8963, 5347, 4501, 9802]
TestingData = pd.DataFrame(TrainingData.iloc[0:0,])
Players = TrainingData[(TrainingData['TeamID'].isin(Matchups)) & (TrainingData.GameDate > '2020-07-20')]
Players = list((Players.groupby(["PlayerID", "TeamID"]).groups).keys())
print(Players, len(Players))
SMATeamData = SMATeamData.sort_values(by=["MapID"], ascending = False)
SMAData = SMAData.sort_values(by=["MapID"], ascending = False)

[(2898, 8963.0), (8212, 4501.0), (8412, 5347.0), (8733, 9802.0), (8800, 4501.0), (10762, 5347.0), (11012, 8963.0), (11701, 4501.0), (12317, 9802.0), (12782, 4501.0), (13718, 8963.0), (13992, 5347.0), (14202, 9802.0), (15349, 8963.0), (15369, 5347.0), (15370, 4501.0), (15407, 8963.0), (16495, 9802.0), (16723, 8963.0), (17146, 5347.0), (18072, 9802.0)] 21

In [14]:
for key in Players:
    PlayerData = SMAData[(SMAData.PlayerID == key[0])]
    i = Matchups.index(key[1])    
    if (i % 2 == 0):
        tempTeamData = SMATeamData[(SMATeamData.TeamID == Matchups[i])]
        tempOppData = SMATeamData[(SMATeamData.TeamID == Matchups[i+1])]
        print(Matchups[i], 'Vs', Matchups[i+1])
    else:
        tempTeamData = SMATeamData[(SMATeamData.TeamID == Matchups[i])]
        tempOppData = SMATeamData[(SMATeamData.TeamID == Matchups[i-1])]        
        print(Matchups[i], 'Vs', Matchups[i-1])
    
    for map in Maps:
        PlayerDataT = PlayerData[(PlayerData.MapName == map)]
        tempTeamDataT = tempTeamData[(tempTeamData.MapName == map)]
        tempOppDataT = tempOppData[(tempOppData.MapName == map)]
        
        if (len(PlayerDataT) > 1):
            PlayerDataT = PlayerDataT.iloc[1:2,]
        else:
            continue
        
        if (len(tempTeamDataT) > 1):
            tempTeamDataT = tempTeamDataT.iloc[1:2,]
            for cols in addedCols:
                colName = 'T' + cols
                PlayerDataT[colName] = tempTeamDataT.iloc[0][cols]

        if (len(tempOppDataT) > 1):
            tempOppDataT = tempOppDataT.iloc[1:2,]
            for cols in addedCols:
                colName = 'O' + cols
                PlayerDataT[colName] = tempOppDataT.iloc[0][cols]

        TestingData = TestingData.append(PlayerDataT)

8963 Vs 5347
4501 Vs 9802
5347 Vs 8963
9802 Vs 4501
4501 Vs 9802
5347 Vs 8963
8963 Vs 5347
4501 Vs 9802
9802 Vs 4501
4501 Vs 9802
8963 Vs 5347
5347 Vs 8963
9802 Vs 4501
8963 Vs 5347
5347 Vs 8963
4501 Vs 9802
8963 Vs 5347
9802 Vs 4501
8963 Vs 5347
5347 Vs 8963
9802 Vs 4501

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor

Predicted = pd.DataFrame(columns = ['PlayerName','MapName','Points', 'TeamName'])

TestingDict = list((TestingData.groupby(["PlayerID", "MapName"]).groups).keys())
cols = ['Kills', 'Assists', 'Deaths', 'KAST', 'ADR', 'TKills',
       'TDeaths', 'TAssists', 'TADR', 'OKills', 'ODeaths', 'OAssists', 'OADR']
TrainingData = TrainingData[(TrainingData.GameDate < '2020-07-28')]

In [16]:
Predicted = pd.DataFrame(columns = ['PlayerName','MapName','Points', 'TeamName'])
for key in tqdm(TestingDict):
    Train = TrainingData[(TrainingData.PlayerID == key[0])]
    Test = TestingData[(TestingData.PlayerID == key[0]) & (TestingData.MapName == key[1])]
    Test = Test.fillna(0)
    Train = Train.fillna(0)
    if (len(Train) == 0):
        continue
    clf = RandomForestRegressor(n_estimators=100, max_features=1, oob_score=True)    
    clf.fit(Train[cols],Train['Points'])    
    y_pred=clf.predict(Test[cols])
    temp = pd.DataFrame(columns = ['PlayerName','MapName','Points','TeamName'])
    temp['PlayerName'] = Test.PlayerName
    temp['TeamName'] = Test.TeamName.iloc[0]
    temp['MapName'] = key[1]
    temp['Points'] = y_pred
    Predicted = Predicted.append(temp)

100%|████████████████████████████████████████████████████████████████████████████████| 138/138 [00:29<00:00,  4.67it/s]

In [32]:
pMaps = ['Vertigo', 'Mirage']
Predicted[(Predicted.TeamName == 'Lyngby Vikings') & (Predicted.MapName.isin(pMaps))].sort_values(by=["Points"], ascending = False)

        PlayerName  MapName  Points        TeamName
51506        Cabbi  Vertigo  27.935  Lyngby Vikings
51069        raalz  Inferno  23.385  Lyngby Vikings
50148        raalz  Vertigo  21.835  Lyngby Vikings
51500        Twinx  Vertigo  21.290  Lyngby Vikings
51501  birdfromsky  Vertigo  20.055  Lyngby Vikings
51077        Cabbi  Inferno  17.865  Lyngby Vikings
50514        maNkz  Vertigo  16.905  Lyngby Vikings
51073        Twinx  Inferno  13.660  Lyngby Vikings
45907        maNkz  Inferno  11.810  Lyngby Vikings
51074  birdfromsky  Inferno  11.455  Lyngby Vikings
51504        Typos  Vertigo   5.945  Lyngby Vikings
51076        Typos  Inferno   5.735  Lyngby Vikings

In [33]:
##### pd.set_option('max_rows', 180)
Predicted[(Predicted.TeamName == 'ALTERNATE aTTaX') & (Predicted.MapName.isin(pMaps))].sort_values(by=["Points"], ascending = False)

      PlayerName  MapName  Points         TeamName
49985     slaxz-  Inferno  24.970  ALTERNATE aTTaX
49981     mirbit  Inferno  23.890  ALTERNATE aTTaX
49983     kressy  Inferno  22.560  ALTERNATE aTTaX
49980       stfN  Inferno  19.130  ALTERNATE aTTaX
52030       stfN  Vertigo  18.560  ALTERNATE aTTaX
52034     slaxz-  Vertigo  18.555  ALTERNATE aTTaX
52032     mirbit  Vertigo  18.330  ALTERNATE aTTaX
52033     kressy  Vertigo  16.795  ALTERNATE aTTaX
49979     ScrunK  Inferno  16.475  ALTERNATE aTTaX
52028     ScrunK  Vertigo   9.545  ALTERNATE aTTaX